<div class="security-wrapper">
  <section class="security-container">
    <div class="arrow-left arrow"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
      <path d="M19.2627 20.7375L13.5377 15L19.2627 9.2625L17.5002 7.5L10.0002 15L17.5002 22.5L19.2627 20.7375Z" fill="white"/>
    </svg></div>
    <div class="security-quality">
      <div class="security-quality-info">
        <p class="sustainability">Устойчивое развитие</p>
        <h3 class="security-head">Безопасность и качество</h3>
        <ul>
          <li>Tincidunt fames porta pretium congue orci cursus. Ut nisl ultrices elit euismod tincidunt. Vitae accumsan tellus lectus viverra id scelerisque. Pellentesque viverra in nibh a gravida vulputate mauris. Proin nibh fusce faucibus a est sit sit in.</li>
          <li>Lobortis imperdiet adipiscing commodo ipsum vulputate in at nibh. Diam velit neque nisl pellentesque nunc. Elementum lacus commodo eu sed id massa scelerisque.</li>
          <li>Lacinia nunc sagittis arcu lobortis sed arcu suspendisse imperdiet nunc. Eu nunc tempor ultrices sollicitudin orci diam </li>
          <li>Quisque hac molestie mauris nunc mus nunc. Consequat sed ac integer sed nunc ut curabitur tincidunt. Urna eget sed at tristique in scelerisque cras</li>
        </ul>
      </div>
      <div class="security-quality-img">
        <img src="assets/secutiyu-ship-background.svg" alt="back-ship">
      </div>
    </div>
    <div class="arrow-right arrow"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
      <path d="M10.7373 20.7375L16.4623 15L10.7373 9.2625L12.4998 7.5L19.9998 15L12.4998 22.5L10.7373 20.7375Z" fill="white"/>
    </svg></div>
  </section>
</div>
