<div class="projects-wrapper">
  <div class="projects-container">
    <section>
      <div class="projects-head">
        <h4>Проекты</h4>
        <div class="projects-all-projects-wrapper">
          <h5>Все Проекты</h5>
          <div class="arrows">
            <div class="arrow-left"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <path d="M19.2627 20.7375L13.5377 15L19.2627 9.2625L17.5002 7.5L10.0002 15L17.5002 22.5L19.2627 20.7375Z" fill="white"/>
            </svg></div>
            <div class="arrow-right"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
              <path d="M10.7373 20.7375L16.4623 15L10.7373 9.2625L12.4998 7.5L19.9998 15L12.4998 22.5L10.7373 20.7375Z" fill="white"/>
            </svg></div>
          </div>
        </div>
      </div>
      <div class="projects-report">
        <div class="projects-overall">
          <img class="projects-overall-back" src="assets/background-ship-projects.svg" alt="back">
          <div class="wrapper-info">
            <p class="name-of-project">Diam nulla vulputate id cum</p>
            <p class="project-info">Fringilla eget auctor non sed viverra mattis. Lectus est est ullamcorper eu natoque vitae mi consequat. Eget ac elit viverra nec donec cras. Nec nunc nisi augue imperdiet blandit facilisis. Massa in purus ultricies libero vitae.</p>
          </div>
        </div>
        <div class="projects-trait">
          <div class="trait-features">
            <div class="trait-features-part-one">
              <div class="ship-weight" >
                <p class="wight larger-font" >130 000 <span>тонн</span></p>
                <p>вес бетонного основания платформы</p>
              </div>
              <div class="ship-length">
                <p class="length larger-font">3,3 <span>узла</span></p>
                <p>составила скорость буксировки платформы</p>
              </div>
            </div>
            <div class="trait-features-part-two">
              <div class="ship-number" >
                <p class="number larger-font" >15 <span>судов</span></p>
                <p>проектная команда</p>
              </div>
              <div class="ship-height">
                <p class="height larger-font">41  <span>метр</span></p>
                <p>высота каждой колонны</p>
              </div>
            </div>
          </div>
          <button class="trait-features-more">Подробнее</button>
        </div>
      </div>
    </section>
  </div>
</div>
